*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #141616;
  background-color: #e6e9ea;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 90px;
  margin-bottom: .2rem;
}
p {
  margin: 10px
}

.full-screen-section {
  height: 100vh;
  text-align: center;
  padding: 1rem;
  position: relative;
}

.top-section .left {
/* .top-section .right { */
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  padding: 1rem;
  /* padding-left: 3rem; */
}

.top-section {
  display: flex;
  text-align: start;
  padding: 0;
}

.top-section .left {
  background-color: rgb(248, 250, 249, var(--background-opacity));
}

.imgs > .top-section-img {
  /* (oldVal - oldMin) * newRange / oldRange + newMin */
  --value: min(var(--scroll), 30) * 50 / 30;
  width: calc(50vw + 1vw * var(--value));
  transform: translateY(calc(50% - 1% * var(--value)));
}

/* NAVBAR STUFF */
#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 1000;
  font-size: 17px;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  padding-right: 50px
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
};

.sticky + .content {
  padding-top: 60px;
}

#name {
  display: flex;
  text-align: center;
  float: right;
  padding-left: 20px
}

.dropdown {
  float: left;
}
.dropbtn {
  font-size: 16px;
  border:none;
  outline: none;
  color: white;
  background-color: #333;
  cursor: pointer;
  padding: 14px 16px 
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 2;
  background-color: red;
}

.dropdown-content.show{
  display:block;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}




@media (width <= 1000px) {
  .top-section .right {
    display: none;
  }

  .top-section .left {
    text-align: center;
  }

  body {
    font-size: 24px;
  }

  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 20px;
  }
  #desc {
    display: none;
  }
  .imgs > .top-section-img {
    width: 100vw;
  }

}

:root {
  --scroll: 0;
}

.top-section {
  position: sticky;
  top: 0;
  /* (oldVal - oldMin) * newRange / oldRange + newMin */
  translate: 0 calc(-1% * (max(var(--scroll), 25) - 25) * 100 / 75);
  --background-opacity: calc(100% - 1% * min(var(--scroll), 30) * 100 / 30);
}

.first-main-section {
  padding-top: 20vh;
}

.imgs > * {
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: 0;
  translate: 0 100%;
  transition: translate 250ms ease-in-out;
}

.imgs > .show {
  translate: 0 0;
}

[data-img-to-show] {
  position: absolute;
  top: 50%;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  margin-right: 100px;
  margin-left: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styles for each card item */
.card-item {
  background-color: #f0f0f0; 
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
}

#cardHeader {
  font-size: 25px;
  text-decoration: solid;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 24
}
